.dump.txt.meta.json
.uaf00001 (1).dat.meta.json 
.uaf001.dat.meta.json
seatwork-2.rdt
SEATWORK.lcs 
SEATWORK.RDT
SW00P.CIC 
SW00P.cvx 
SW00P.dll 
SW00P.LCS 
SW00P.lst 
SW00P.obj 
SW00P.sym
*.LOG
/BACKUP DFH
*.dat.meta.json
*.TXT.meta.json
sm001 backup.cbl
dump.txt